// @import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url("https://lkp.dispendik.surabaya.go.id/assets/loading.gif") 50%
    50% no-repeat rgb(249, 249, 249);
}
.moveUpDown {
  animation: MoveUpDown 3s linear infinite;
  // position: absolute;
  // left: 0;
  // bottom: 0;
}

@keyframes MoveUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(25px);
  }
}

// .igniteLogo:hover path {
//   transform: translate(0, -20px);
// }
// .igniteLogo path {
//   transform: translate(0, 0px);
// }
.hoverUp:hover {
  transform: translate(0, -10px);
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.hoverUp {
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.igniteLogo img:last-child {
  // opacity: none;
  // background: url("./assets/ignitelogo.svg");
  display: none;
  opacity: 0;
  transition: all 0.4 cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.igniteLogo:hover img:last-child {
  display: block;
  opacity: 1;
  transform: translate(0px, 0);
  transition: all 0.4 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  opacity: 1;

  z-index: 5;
}
.igniteLogo:hover img:first-child {
  transition: all 0.4 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  opacity: 0;

  display: none;
}
// }
body {
  // background: linear-gradient(
  //   144.69deg,
  //   #f6bf4a 1.56%,
  //   #ec622d 35.7%,
  //   #dc395e 64.16%,
  //   #c04d95 92.61%
  // );
  // min-height: 100vh;
  background: #194bcc;
  position: relative;
}
// main {
//   position: absolute;
// }
h1,
h2,
h3 {
  font-family: Integral CF, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: bold;
  // font-size: 80px;
}
.page3 {
  overflow: hidden;
  background: #194bcc;
}
.page4 {
  background: #555555;
  padding: 120px 0 0px 0 !important;
  position: relative;
}
.socialCards {
  display: grid;
  // grid-gap: 50px 20px;
  // grid-row: auto auto;
  // grid-template-columns: 400px 400px;
  grid-template-columns: 20vw 20vw 20vw 20vw;

  grid-row: auto auto;
  // grid-gap: 60px 60px;
  // padding: 40px 0;
}
// .socialCard {
//   margin: 20px 0;
// }
.socialCard {
  // box-shadow: inset 20px 20px 60px #484848, inset -20px -20px 60px #626262;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  justify-content: center;
  // padding: 60px 120px;
  width: 100%;
  height: 250px;
  background: #555555;
  // margin: auto 40px;
  // animation: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 175ms ease, opacity 175ms ease,
    -webkit-transform 175ms ease;
  // transition-duration: 0.4s;
  // transition-delay: 0.s;
  padding: 0 10px;
  position: relative;
}
.socialCard svg {
  // transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 175ms ease, opacity 175ms ease;

  width: 50px;
}
.newPageIcon {
  display: none;
  position: absolute;
  top: 40px;
  right: 20px;
}
.socialCard:hover .newPageIcon {
  display: block;
}
.socialCard:hover svg {
  transform: translate(0, -10px);
  // transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 175ms ease, opacity 175ms ease,
    -webkit-transform 175ms ease;
  // box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.25);
  // transition-duration: 0.8s;
}

// .twitter {
//   border: 2px solid #2aa9e0;
// }
// .youtube {
//   border: 2px solid #ff0000;
// }

// .facebook {
//   // box-shadow: inset 20px 20px 60px #484848, inset -20px -20px 60px #626262;

//   // background: #1977f3;
//   border: 2px solid #1977f3;
// }

// .instagram {
//   // box-shadow: inset 20px 20px 60px #484848, inset -20px -20px 60px #626262;

//   border: 2px solid #c837ab;
// }
@keyframes cementToColor {
  0% {
    // box-shadow: inset 20px 20px 60px #484848, inset -20px -20px 60px #626262;
  }
  50% {
    box-shadow: inset 10px 10px 60px #484848, inset -10px -10px 60px #626262;
  }
  100% {
    box-shadow: none;
  }
}
.twitter:hover {
  background: #2aa9e0;
}
.youtube:hover {
  // box-shadow: inset 20px 20px 60px #484848, inset -20px -20px 60px #626262;

  background: #ff0000;
}
.facebook:hover {
  // box-shadow: inset 20px 20px 60px #484848, inset -20px -20px 60px #626262;

  background: #1977f3;
}
// .wame {
//   padding: 0 30px;
//   background: linear-gradient(215.89deg, #54cf61 17.12%, #29b53f 84.82%);
//   border-radius: 15px;
// }
.wame {
  position: relative;
}
.wame svg {
  width: 450px;
  transition: transform 175ms ease, opacity 175ms ease;
}
.wame svg #waGreen {
  fill: none;
}
.wame:hover svg {
  transform: translate(0, -20px);
  transition: transform 175ms ease, opacity 175ms ease;
}
.wame:hover svg #waGreen {
  fill: #43c554;
}
.wame .newPageIcon {
  display: none;
  position: absolute;
  top: -20px;
  right: -210px;
}
.wame:hover .newPageIcon {
  display: block;
}
.instagram:hover {
  // box-shadow: inset 20px 20px 60px #484848, inset -20px -20px 60px #626262;
  background: radial-gradient(
    92.18% 99.11% at 26.56% 107.7%,
    #ffdd55 0%,
    #ffdd55 10%,
    #ff543e 50%,
    #c837ab 100%
  );
}

.emailCard {
  width: 35vw;
  // grid-column: auto / span 2;
  // width: 1004px;
  height: 350px;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "Circular Std", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  justify-content: center;

  text-align: center;
  letter-spacing: -0.015em;

  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 60px;
  margin-top: 0px;
  // left: 218px;
  // top: 5757px;

  /* yerow */

  border-radius: 15px;
  position: relative;
  transition: transform 175ms ease, opacity 175ms ease;
}

.emailCard:hover {
  // background: linear-gradient(
  //   144.69deg,
  //   #f6bf4a 1.56%,
  //   #ec622d 35.7%,
  //   #dc395e 64.16%,
  //   #c04d95 92.61%
  // );
  background: linear-gradient(180deg, #0796c2 0%, #006c8e 100%);
  transition: transform 175ms ease, opacity 175ms ease;
}

.discordCard {
  // cursor: pointer;
  width: 35vw;
  // grid-column: auto / span 2;
  // width: 1004px;
  height: 350px;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "Circular Std", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  justify-content: center;

  text-align: center;
  letter-spacing: -0.015em;

  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 60px;
  margin-top: 0px;
  // left: 218px;
  // top: 5757px;

  /* yerow */

  border-radius: 15px;
  position: relative;
  transition: transform 175ms ease, opacity 175ms ease;
}
.emailCard:hover .socialcardText {
  display: block;
  opacity: 1;
  transition: transform 175ms ease, opacity 175ms ease;
}
.discordCard:hover .socialcardText {
  display: block;
  opacity: 1;
  transition: transform 175ms ease, opacity 175ms ease;
}
.discordCard:hover svg {
  top: 40px;

  transition: transform 175ms ease, opacity 175ms ease;
}
.discordCard:hover {
  // background: linear-gradient(
  //   144.69deg,
  //   #f6bf4a 1.56%,
  //   #ec622d 35.7%,
  //   #dc395e 64.16%,
  //   #c04d95 92.61%
  // );
  background: linear-gradient(180deg, #7289da 0%, #4f66b6 100%);

  // background: linear-gradient(180deg, #0796c2 0%, #006c8e 100%);
  transition: transform 175ms ease, opacity 175ms ease;
}
.hand {
  position: absolute;
  border-radius: 15px;
  bottom: 0;
  right: 0;
  width: 30%;
  // display: none;
  opacity: 0;
  transform: translate(-0px, 0);
  // transition: 0.5s ease-in-out;
  transition: transform 175ms ease, opacity 175ms ease;
}
.emailCard:hover .hand {
  display: block;
  opacity: 1;
  transform: translate(0px, 0);
  transition: transform 175ms ease, opacity 175ms ease;
}
.socialcardText {
  text-align: center;
  font-family: Circular Std, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 100%;
  /* identical to box height, or 25px */
  opacity: 0;
  // display: none;
  text-align: center;
  // letter-spacing: -0.015em;
  margin-top: 10px;
  color: rgba(255, 255, 255, 0.9);
  transition: transform 175ms ease, opacity 175ms ease;
}
.socialcardTextBefore {
  text-align: center;
  font-family: Circular Std, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 100%;
  /* identical to box height, or 25px */
  opacity: 0;
  display: none;
  text-align: center;
  // letter-spacing: -0.015em;
  margin-top: 10px;
  color: rgba(255, 255, 255, 0.9);
  transition: transform 175ms ease, opacity 175ms ease;
}
.socialCard:hover .socialcardText {
  display: block;
  opacity: 1;
  transition: transform 175ms ease, opacity 175ms ease;
}
.socialCard:hover .socialcardTextBefore {
  display: none;

  opacity: 0;
  transition: transform 175ms ease, opacity 175ms ease;
}
a {
  cursor: none;
}
.massiveText {
  font-family: "Circular Std", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif !important;
  text-decoration: underline;
}

.humans {
  width: 500px;
  margin: 50px 0;
  margin-top: 70px;
  // position: absolute;
  // transform: translate(-50%, -50%);
  // left: 50%;
  // top: 50%;
  overflow: hidden;
}
.mobileNavbar {
  display: none;
}
.pd-30 button,
.pd-30 a {
  margin: 20px 16px;
  text-decoration: unset;
}
a {
  text-decoration: unset;
  color: unset;
}
.md-top-50 {
  margin-top: 50px;
}

.flex {
  display: flex;
}
.row {
  flex-direction: row;
}
.col {
  flex-direction: column;
}
.center {
  align-items: center;
  justify-content: center;
}
.page {
  min-height: 100vh;
}
.page1 {
  // padding-left: 10vw;
  padding: 80px 10vw;
  background: linear-gradient(
    144.69deg,
    #f6bf4a 1.56%,
    #ec622d 35.7%,
    #dc395e 64.16%,
    #c04d95 92.61%
  );

  margin-bottom: 0 !important;
  min-height: 100vh;
  // height: 100vh;
  position: relative;
  overflow: hidden;

  // background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  // background-size: 400% 400%;
  // -webkit-animation: Gradient 15s ease-in-out infinite;
  // -moz-animation: Gradient 15s ease-in-out infinite;
  // animation: Gradient 15s ease-in-out infinite;
}
.sponsors {
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}
.sponsors img,
.sponsorLogo {
  margin: 40px 40px;
}
.parnterTitle {
  font-family: Integral CF, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  letter-spacing: 0.02em;

  line-height: 100%;
  text-align: center;
  /* identical to box height, or 25px */

  text-align: center;

  color: #ffffff;

  mix-blend-mode: overlay;
}
.page2 {
  color: #05d5b8;
  background: #554cc2;
  padding: 120px 0 0px 0 !important;
  position: relative;
  // overflow-y: hidden;
}
.page25 {
  // color: #05d5b8;
  background: linear-gradient(180deg, #3d4448 0%, #1c1f21 100%);
  padding: 120px 0 100px 0 !important;
  position: relative;
  // overflow-y: hidden;
}
.gaming {
  background: linear-gradient(180deg, #cb4580 0%, #cb1e52 100%);
  min-height: 100vh;
  overflow: hidden;
}
.creative {
  background: #8e0180;
  min-height: 100vh;
  overflow: hidden;
}
.scifi {
  background: #6f6f6f;
  min-height: 100vh;
  overflow: hidden;
}
.techTalks {
  background: linear-gradient(148deg, #00938a 9.18%, #00a098 90.83%);
  min-height: 100vh;
  overflow: hidden;
}
.memeService {
  background: #0083cc;
  min-height: 100vh;
  overflow: hidden;
}
.subText {
  font-family: "Circular Std", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  line-height: 100%;
  /* or 30px */
  margin-left: 30px;
  margin-right: 60px;
  width: 600px;
  letter-spacing: -0.015em;
  margin-top: 15px;

  color: #ffffff;
}
.eventsFlow {
  font-family: Integral CF, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 80px;
  // line-height: 87%;
  /* identical to box height, or 70px */

  // letter-spacing: 0.02em;

  color: #05d4b8;

  width: 100%;
  // height: 40px;
  overflow: hidden !important;
  // display: flex;
}
.zOK {
  display: flex;
}
.zOK span {
  padding: 0 20px;
}
.bEl {
  animation: AlL 15s linear infinite;
}
@keyframes AlL {
  0% {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}
.lookman {
  position: absolute;
  // height: 526px;
  width: 526px;
  right: 0px;
  bottom: 0px;
  z-index: 1;
}
.mike {
  position: absolute;
  // height: 526px;
  width: 250px;
  left: 0px;
  top: -100px;
  z-index: 1;
  // animation: MoveUpDown 2s linear infinite;
}
.tagline {
  // right: 31.18%;
  margin-top: 60px;
  font-family: "Epilogue", "Circular Std", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 60px;
  line-height: 87%;
  /* or 70px */
  mix-blend-mode: soft-light;
  filter: saturate(150%);
  letter-spacing: -0.015em;
  position: relative;

  color: #ffffff;
}
.subhead {
  font-family: "Circular Std", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  margin: 20px 47.57% 0 0;
  // margin-right: 47.57%;
  font-weight: 300;
  font-size: 30px;
  line-height: 100%;
  /* or 30px */

  letter-spacing: -0.015em;

  color: rgba(255, 255, 255, 0.8);
}

.navbar {
  font-family: Integral CF, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.6em;
  // line-height: 87%;
  /* or 26px */
  color: #ffffff;
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  // mix-blend-mode: overlay;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  background: rgba(255, 255, 255, 0.1);
  mix-blend-mode: normal;
  // backdrop-filter: blur(90px);
  height: 50px;
  z-index: 9;
  backdrop-filter: saturate(120%) blur(90px);
}
.navbar .item {
  margin: 12px 20px;
  // mix-blend-mode: hard-light;
}
.button,
.buttonBell {
  padding: 15px 28px;
  // height: 70px;
  box-sizing: border-box;
  border-radius: 15px;
  font-family: "Circular Std", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 30px;
  // cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px 0 0 0;
  cursor: none;
  border: 2px solid transparent;
}

.buttons {
  // justify-content: space-between;
  align-items: center;
}

.button svg {
  transition: transform 0.3s cubic-bezier(2.175, 0.885, 0.32, 0.175);
}
.button:hover svg {
  transform: translate(4px, 0);
  transition: transform 0.3s cubic-bezier(2.175, 0.885, 0.32, 0.175);
}
.button:hover {
  // transform: translate(0, -4px);
  cursor: none !important;
}

.buttonBell svg {
  transition: transform 0.3s cubic-bezier(2.175, 0.885, 0.32, 0.175);
}
.buttonBell:hover svg {
  transform: rotate(20deg);
  transition: transform 0.3s cubic-bezier(2.175, 0.885, 0.32, 0.175);
}
.red {
  // background: #c83200;
  border: 2px solid transparent;
  // border: none;
  background: rgba(255, 255, 255, 0.2);
  color: #ffffff;

  opacity: 0.8;
}
.hollowButton {
  border: 1px solid #fff;
  background: transparent;
  color: #ffffff;

  opacity: 0.8;
}
.overflowHiddenX {
  overflow: hidden !important;
  max-width: 100%;
}
.ideathon {
  background: linear-gradient(139.41deg, #ebbe21 5.11%, #d67300 91.8%);
  // background-color: #000;
  min-height: 100vh;
  overflow: hidden;
  // margin-top: 50px;
  padding-left: 60px;
}
.whitebutYellow {
  background-color: white;
  color: #e19d12;
}
.whitebutRed {
  background-color: white;
  color: #bc4069;
}
.hackathonLogo {
  width: 80px;
}
.divCenter {
  display: block;
  margin: auto;
  text-align: center;
  left: 50%;
}
.card {
  margin: auto;
  background-color: white;
  border-radius: 15px;
  padding: 40px 70px;
  justify-content: space-between;
  margin-top: 40px;
}
.card .col {
  margin: auto 30px;
}
.eventDetailPage {
  padding-top: 90px;
}
.cardHead {
  font-family: "Integral CF", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 87%;
  letter-spacing: 0.025em;

  /* or 17px */
}
.yellowCardHead {
  color: #dc8a0a;
}
.yelloCardText {
  color: #861414;
}
.gameCardHead {
  color: #cb2d63;
}
.gameCardText {
  color: #001e6b;
}
.techtalksCardHead {
  color: #00938a;
}
.techtalksText {
  color: #3f3820;
}
// opacity: 0.9;

.cardText {
  margin: 10px 0 8px 0;
  font-family: "Circular Std", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 87%;
  /* or 26px */

  letter-spacing: -0.015em;
}
.closeModal {
  position: absolute;
  top: 80px;

  right: 80px;
}
.eventNameContainer {
  position: relative;
  margin-bottom: 20px;
}
.underlineEvent {
  position: absolute;
  display: none;
  bottom: -10px;
  left: 0;
  z-index: -1;
}
.sticker {
  position: absolute;
  top: -40px;
  left: -40px;
}
.relative {
  position: relative;
}
.floatingDate {
  position: absolute;
  // left: 34.38%;
  // right: 26.04%;
  // top: 2.78%;
  // bottom: 96.94%;
  top: -50px;
  // margin-left: auto;
  // margin-right: auto;
  // left: 0;
  left: 0;
  text-align: center;
  font-family: Circular Std, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 100%;
  /* identical to box height, or 30px */
  // filter: blur(10px);
  letter-spacing: -0.015em;

  color: rgba(255, 255, 255, 0.8);
  transition: transform 175ms ease, opacity 175ms ease,
    -webkit-transform 175ms ease;
  display: flex;
  align-items: center;
  // mix-blend-mode: normal;
  // filter: saturate(150%);
}

@media screen and (max-width: 980px) {
  .row {
    flex-direction: column;
  }
  .sponsors {
    flex-direction: column;
  }
  .socialcardText {
    display: block;
    opacity: 1;
  }
  .twitter {
    background: #2aa9e0;
  }
  .youtube {
    // box-shadow: inset 20px 20px 60px #484848, inset -20px -20px 60px #626262;

    background: #ff0000;
  }
  .facebook {
    // box-shadow: inset 20px 20px 60px #484848, inset -20px -20px 60px #626262;

    background: #1977f3;
  }
  .instagram {
    background: radial-gradient(
      92.18% 99.11% at 26.56% 107.7%,
      #ffdd55 0%,
      #ffdd55 10%,
      #ff543e 50%,
      #c837ab 100%
    );
  }
  .socialCards {
    display: grid;
    // grid-gap: 50px 20px;
    // grid-row: auto auto;
    // grid-template-columns: 400px 400px;
    grid-template-columns: auto;

    grid-row: auto;
    grid-gap: 20px 20px;
    margin-bottom: 30px;
    // overflow: hidden !important;
  }
  a {
    cursor: pointer;
  }
  .socialCard {
    margin: auto auto;
    padding: 0 20px;
  }
  .page4 {
    overflow: hidden !important;
  }
  .massiveText {
    font-size: 8vw;
  }
  .emailCard,
  .discordCard {
    cursor: pointer;

    width: 90vw;
    margin-bottom: 60px;
  }
  .emailCard {
    background: linear-gradient(180deg, #0796c2 0%, #006c8e 100%);
  }
  .discordCard {
    background: linear-gradient(180deg, #7289da 0%, #4f66b6 100%);
  }
  .emailCard h1,
  .discordCard h1 {
    font-size: 30px;
  }
  .underlineEvent {
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
  }
  .growMobile {
    flex-grow: 1;
  }
  .closeModal {
    position: absolute;
    top: 20px;
    right: unset;
    left: 40px;
  }
  .card {
    width: 90vw;
    flex-direction: column;
    padding: 30px 40px;
  }
  .eventDetailPage {
    padding-top: 160px !important;
  }
  .eventDetailPage .eventName {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .cardHead,
  .cardText {
    margin: 20px 0;
  }
  .button,
  .buttonBell {
    cursor: pointer !important;
  }
  .button:hover {
    // transform: translate(0, -4px);
    cursor: pointer !important;
  }
  .remindmeArrow {
    width: 27px;
  }
  .buttons {
    flex-direction: column;
  }
  .eventNameTitle {
    width: 80vw;
  }
  .subText {
    width: 80%;
    margin: auto !important;
    text-align: center;
  }
  .tagline {
    text-align: center !important;
    font-size: 2rem;
    // margin: 30px 0 0 0;
    // padding-left: 20px;
  }
  .apply-button {
    margin-top: 20px;
  }
  .devfolio-button-iframe {
    margin-top: 20px;
  }
  .floatingDate {
    top: -50px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    // transform: translate(-50%, -50%);
  }
  .subhead {
    text-align: center;
    margin: 10px 0 0 0;
    font-size: 1em;
  }
  .page1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    // padding-bottom: 0;
    margin-bottom: 0;
    padding: 100px 10px 100px 10px;
    padding: 30px 5vw 0 5vw !important;
    height: 100%;
  }
  .page2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    // padding-bottom: 0;
    margin-bottom: 0;
    padding: 100px 10px 100px 10px;
    // padding: 0 !important;
    height: 100%;
  }
  .page25 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    // padding-bottom: 0;
    margin-bottom: 0;
    padding: 100px 10px 100px 10px;
    // padding: 0 !important;
    height: 100%;
  }
  .lookman {
    position: relative;
    width: 50vw;
    justify-self: flex-end;
    // margin-top: auto;
    // align-self: flex-end;
    // bottom: 0;
    // left: 50%;
    // transform: translate(-50%, 0);
  }
  .button {
    width: 100%;
    font-size: 1.5rem;
    cursor: default !important;
  }
  .mike {
    width: 140px;
    top: -10px;
  }
  .mobileNavbar {
    display: block;
    position: fixed;
    right: 20px;
    top: 20px;
    background: #fff;
    border-radius: 20px;
    padding: 5px 16px;
    opacity: 1;
    mix-blend-mode: overlay;
    backdrop-filter: saturate(120%) blur(90px);
    z-index: 9;
    // padding: 0 32px;
    border-radius: 32px;
  }
  .movileNavbar {
    background-color: hsla(0, 0%, 100%, 0.4);
  }
  .navbar {
    display: none;
  }
  .ideathon,
  .gaming,
  .techTalks,
  .creative,
  .memeService,
  .scifi {
    flex-direction: column;
    padding-top: 80px;
    padding-left: 0;
    text-align: center;
  }
  .hackathonLogo {
    width: 40px;
  }
  body {
    cursor: default !important;
  }
  .cursor {
    display: none !important;
  }
  .button,
  .buttonBell {
    font-size: 1rem;
    width: auto !important;
    cursor: default !important;
  }
}

// #ex1 {
//   height: 100vh;
//   width: 100vw;
//   background: linear-gradient(139.41deg, #ebbe21 5.11%, #d67300 91.8%);
// }
.modal {
  max-width: 100vw !important;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10 !important;
  overflow: scroll;
  padding: 0;
  animation: all 2s ease-in-out;
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@font-face {
  font-family: "Integral CF";
  src: url("fonts/IntegralCF-ExtraBold.woff2") format("woff2"),
    url("fonts/IntegralCF-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Integral CF";
  src: url("IntegralCF-Medium.woff2") format("woff2"),
    url("IntegralCF-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Circular Std";
  src: url("fonts/CircularStd-Bold.woff2") format("woff2"),
    url("fonts/CircularStd-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Circular Std";
  src: url("fonts/CircularStd-Medium.woff2") format("woff2"),
    url("fonts/CircularStd-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Circular Std";
  src: url("fonts/CircularStd-Book.woff2") format("woff2"),
    url("fonts/CircularStd-Book.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

body {
  cursor: none;
}
.cursor {
  pointer-events: none;
  // position: fixed !important;
}
body .cursor__ball {
  position: fixed !important;
  top: 0;
  left: 0;
  mix-blend-mode: difference;
  z-index: 1000 !important;
}
body .cursor__ball circle {
  fill: #f7f8fa;
  position: fixed !important;
}

.swipe {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: translate(-100%, 0);
}

.swipe1 {
  background: linear-gradient(180deg, #cb4580 0%, #cb1e52 100%);

  z-index: 17;
}
.swipe2 {
  background: linear-gradient(139.41deg, #ebbe21 5.11%, #d67300 91.8%);
  z-index: 16;
}
.swipe3 {
  background: linear-gradient(148deg, #00938a 9.18%, #00a098 90.83%);
  z-index: 15;
}
