* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url("https://lkp.dispendik.surabaya.go.id/assets/loading.gif") 50%
    50% no-repeat rgb(249, 249, 249);
}
.moveUpDown {
  animation: MoveUpDown 3s linear infinite;
  // position: absolute;
  // left: 0;
  // bottom: 0;
}

@keyframes MoveUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(25px);
  }
}

// .igniteLogo:hover path {
//   transform: translate(0, -20px);
// }
// .igniteLogo path {
//   transform: translate(0, 0px);
// }
.hoverUp:hover {
  transform: translate(0, -10px);
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.hoverUp {
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.igniteLogo img:last-child {
  // opacity: none;
  // background: url("./assets/ignitelogo.svg");
  display: none;
  opacity: 0;
  transition: all 0.4 cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.igniteLogo:hover img:last-child {
  display: block;
  opacity: 1;
  transform: translate(0px, 0);
  transition: all 0.4 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  opacity: 1;

  z-index: 5;
}
.igniteLogo:hover img:first-child {
  transition: all 0.4 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  opacity: 0;

  display: none;
}
// }
body {
  // background: linear-gradient(
  //   144.69deg,
  //   #f6bf4a 1.56%,
  //   #ec622d 35.7%,
  //   #dc395e 64.16%,
  //   #c04d95 92.61%
  // );
  // min-height: 100vh;
  background: #194bcc;
  position: relative;
}
.aboutText {
  margin-top: 20px;
  font-family: "Circular Std", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 100%;
  width: 60vw;
  /* or 30px */

  text-align: left;
  letter-spacing: -0.015em;

  color: rgba(255, 255, 255, 0.8);
}
// main {
//   position: absolute;
// }
h1,
h2,
h3 {
  font-family: Integral CF, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: bold;
  // font-size: 80px;
}
.page3 {
  // overflow: hidden;
  background: #194bcc;
  padding: 120px 0 0px 0 !important;
  position: relative;
}
.page4 {
  background: #555555;
  padding: 120px 0 0px 0 !important;
  position: relative;
}
.socialCards {
  display: grid;
  // grid-gap: 50px 20px;
  // grid-row: auto auto;
  // grid-template-columns: 400px 400px;
  grid-template-columns: 20vw 20vw 20vw 20vw;

  grid-row: auto auto;
  // grid-gap: 60px 60px;
  // padding: 40px 0;
}
// .socialCard {
//   margin: 20px 0;
// }
.socialCard {
  // box-shadow: inset 20px 20px 60px #484848, inset -20px -20px 60px #626262;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  justify-content: center;
  // padding: 60px 120px;
  width: 100%;
  height: 250px;
  background: #555555;
  // margin: auto 40px;
  // animation: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 175ms ease, opacity 175ms ease,
    -webkit-transform 175ms ease;
  // transition-duration: 0.4s;
  // transition-delay: 0.s;
  padding: 0 10px;
  position: relative;
}
.socialCard svg {
  // transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 175ms ease, opacity 175ms ease;

  width: 50px;
}
.newPageIcon {
  display: none;
  position: absolute;
  top: 40px;
  right: 20px;
}
.socialCard:hover .newPageIcon {
  display: block;
}
.socialCard:hover svg {
  transform: translate(0, -10px);
  // transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 175ms ease, opacity 175ms ease,
    -webkit-transform 175ms ease;
  // box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.25);
  // transition-duration: 0.8s;
}

// .twitter {
//   border: 2px solid #2aa9e0;
// }
// .youtube {
//   border: 2px solid #ff0000;
// }

// .facebook {
//   // box-shadow: inset 20px 20px 60px #484848, inset -20px -20px 60px #626262;

//   // background: #1977f3;
//   border: 2px solid #1977f3;
// }

// .instagram {
//   // box-shadow: inset 20px 20px 60px #484848, inset -20px -20px 60px #626262;

//   border: 2px solid #c837ab;
// }
@keyframes cementToColor {
  0% {
    // box-shadow: inset 20px 20px 60px #484848, inset -20px -20px 60px #626262;
  }
  50% {
    box-shadow: inset 10px 10px 60px #484848, inset -10px -10px 60px #626262;
  }
  100% {
    box-shadow: none;
  }
}
.twitter:hover {
  background: #2aa9e0;
}
.youtube:hover {
  // box-shadow: inset 20px 20px 60px #484848, inset -20px -20px 60px #626262;

  background: #ff0000;
}
.facebook:hover {
  // box-shadow: inset 20px 20px 60px #484848, inset -20px -20px 60px #626262;

  background: #1977f3;
}
// .wame {
//   padding: 0 30px;
//   background: linear-gradient(215.89deg, #54cf61 17.12%, #29b53f 84.82%);
//   border-radius: 15px;
// }
.wame {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.wameBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: transform 175ms ease, opacity 175ms ease;
}
.wame svg {
  // width: 450px;
  transition: transform 175ms ease, opacity 175ms ease;
}
.wame svg #waGreen {
  fill: none;
}
.wame:hover .wameBlock {
  transform: translate(0, -20px);
  transition: transform 175ms ease, opacity 175ms ease;
}
.wame:hover svg #waGreen {
  fill: #43c554;
}
.wame .newPageIcon {
  display: none;
  position: absolute;
  top: -20px;
  right: -210px;
}
.wame:hover .newPageIcon {
  display: block;
}
.instagram:hover {
  // box-shadow: inset 20px 20px 60px #484848, inset -20px -20px 60px #626262;
  background: radial-gradient(
    92.18% 99.11% at 26.56% 107.7%,
    #ffdd55 0%,
    #ffdd55 10%,
    #ff543e 50%,
    #c837ab 100%
  );
}

.emailCard {
  width: 35vw;
  // grid-column: auto / span 2;
  // width: 1004px;
  height: 350px;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "Circular Std", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  justify-content: center;

  text-align: center;
  letter-spacing: -0.015em;

  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 60px;
  margin-top: 0px;
  // left: 218px;
  // top: 5757px;

  /* yerow */

  border-radius: 15px;
  position: relative;
  transition: transform 175ms ease, opacity 175ms ease;
}

.emailCard:hover {
  // background: linear-gradient(
  //   144.69deg,
  //   #f6bf4a 1.56%,
  //   #ec622d 35.7%,
  //   #dc395e 64.16%,
  //   #c04d95 92.61%
  // );
  background: linear-gradient(180deg, #0796c2 0%, #006c8e 100%);
  transition: transform 175ms ease, opacity 175ms ease;
}

.discordCard {
  // cursor: pointer;
  width: 35vw;
  // grid-column: auto / span 2;
  // width: 1004px;
  height: 350px;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "Circular Std", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  justify-content: center;

  text-align: center;
  letter-spacing: -0.015em;

  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 60px;
  margin-top: 0px;
  // left: 218px;
  // top: 5757px;

  /* yerow */

  border-radius: 15px;
  position: relative;
  transition: transform 175ms ease, opacity 175ms ease;
}
.emailCard:hover .socialcardText {
  display: block;
  opacity: 1;
  transition: transform 175ms ease, opacity 175ms ease;
}
.discordCard:hover .socialcardText {
  display: block;
  opacity: 1;
  transition: transform 175ms ease, opacity 175ms ease;
}
.discordCard:hover svg {
  top: 40px;

  transition: transform 175ms ease, opacity 175ms ease;
}
.discordCard:hover {
  // background: linear-gradient(
  //   144.69deg,
  //   #f6bf4a 1.56%,
  //   #ec622d 35.7%,
  //   #dc395e 64.16%,
  //   #c04d95 92.61%
  // );
  background: linear-gradient(180deg, #7289da 0%, #4f66b6 100%);

  // background: linear-gradient(180deg, #0796c2 0%, #006c8e 100%);
  transition: transform 175ms ease, opacity 175ms ease;
}
.hand {
  position: absolute;
  border-radius: 15px;
  bottom: 0;
  right: 0;
  width: 30%;
  // display: none;
  opacity: 0;
  transform: translate(-0px, 0);
  // transition: 0.5s ease-in-out;
  transition: transform 175ms ease, opacity 175ms ease;
}
.emailCard:hover .hand {
  display: block;
  opacity: 1;
  transform: translate(0px, 0);
  transition: transform 175ms ease, opacity 175ms ease;
}
.socialcardText {
  text-align: center;
  font-family: Circular Std, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 100%;
  /* identical to box height, or 25px */
  opacity: 0;
  // display: none;
  text-align: center;
  // letter-spacing: -0.015em;
  margin-top: 10px;
  color: rgba(255, 255, 255, 0.9);
  transition: transform 175ms ease, opacity 175ms ease;
}
.socialcardTextBefore {
  text-align: center;
  font-family: Circular Std, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 100%;
  /* identical to box height, or 25px */
  opacity: 0;
  display: none;
  text-align: center;
  // letter-spacing: -0.015em;
  margin-top: 10px;
  color: rgba(255, 255, 255, 0.9);
  transition: transform 175ms ease, opacity 175ms ease;
}
.socialCard:hover .socialcardText {
  display: block;
  opacity: 1;
  transition: transform 175ms ease, opacity 175ms ease;
}
.socialCard:hover .socialcardTextBefore {
  display: none;

  opacity: 0;
  transition: transform 175ms ease, opacity 175ms ease;
}
a {
  cursor: none;
}
.massiveText {
  font-family: "Circular Std", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif !important;
  text-decoration: underline;
}

.humans {
  width: 500px;
  margin: 50px 0;
  margin-top: 70px;
  // position: absolute;
  // transform: translate(-50%, -50%);
  // left: 50%;
  // top: 50%;
  overflow: hidden;
}
.mobileNavbar {
  display: none;
}
.pd-30 button,
.pd-30 a {
  margin: 20px 16px;
  text-decoration: unset;
}
a {
  text-decoration: unset;
  color: unset;
}
.md-top-50 {
  margin-top: 50px;
}

.flex {
  display: flex;
}
.row {
  flex-direction: row;
}
.col {
  flex-direction: column;
}
.center {
  align-items: center;
  justify-content: center;
}
.page {
  min-height: 100vh;
}
.page1 {
  // padding-left: 10vw;
  padding: 80px 10vw;
  background: linear-gradient(
    144.69deg,
    #f6bf4a 1.56%,
    #ec622d 35.7%,
    #dc395e 64.16%,
    #c04d95 92.61%
  );

  margin-bottom: 0 !important;
  min-height: 100vh;
  // height: 100vh;
  position: relative;
  overflow: hidden;

  // background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  // background-size: 400% 400%;
  // -webkit-animation: Gradient 15s ease-in-out infinite;
  // -moz-animation: Gradient 15s ease-in-out infinite;
  // animation: Gradient 15s ease-in-out infinite;
}
.sponsors {
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}
.sponsors img,
.sponsorLogo {
  margin: 30px 30px;
}
.prizes {
  right: 0px;
  position: absolute;
  top: 120px;
  // width: 10vw;

  /* or 25px */

  text-align: center;
  letter-spacing: -0.015em;

  color: #ffffff;
  transition: transform 175ms ease, opacity 175ms ease;
}
.purpleBox:hover {
  width: 320px;
  transition: width 175ms ease, opacity 175ms ease;
}
.purpleBox {
  transition: width 175ms ease, opacity 175ms ease;
  position: relative;
  background: linear-gradient(180deg, #7875f4 0%, #3c39d0 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px 0 0 30px;
  width: 292px;
  padding: 20px 40px;
  font-family: "Circular Std", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 100%;
}
.parnterTitle {
  font-family: "Integral CF", "Circular Std", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;

  font-style: normal;
  font-weight: 300;
  font-size: 25px;
  // letter-spacing: 0.04em;

  line-height: 100%;
  text-align: center;
  /* identical to box height, or 25px */

  text-align: center;

  color: #ffffff;

  mix-blend-mode: overlay;
  margin-top: 40px;
}
.dividingLine{
  margin: 0 20px;
}
.horzLine{
  display: none;
}

.presented{
  font-family: "Integral CF", "Circular Std", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
      color: #ffffff;
      margin-bottom: 10px;
      opacity: 0.6;
      // text-align: left;
  // mix-blend-mode: overlay;

}
.page2 {
  color: #05d5b8;
  background: #554cc2;
  // background: #3E3BD0;
  padding: 120px 0 0px 0 !important;
  position: relative;
  // overflow-y: hidden;
}
.page25 {
  // color: #05d5b8;
  background: linear-gradient(180deg, #3d4448 0%, #1c1f21 100%);
  padding: 120px 0 100px 0 !important;
  position: relative;
  // overflow-y: hidden;
}
.gaming {
  background: linear-gradient(180deg, #cb4580 0%, #cb1e52 100%);
  min-height: 100vh;
  overflow: hidden;
}

.subscribe {
  font-family: "Circular Std", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: bold;
  // font-size: 30px;
  line-height: 100%;
  /* identical to box height, or 40px */

  letter-spacing: -0.015em;

  color: #ffffff;
}
.creative {
  background: #8e0180;
  min-height: 100vh;
  overflow: hidden;
}
.blockbuster {
  background: linear-gradient(180deg, #ec622d 0%, #cd420c 100%);
  min-height: 100vh;
  overflow: hidden;
}
.scifi {
  background: #6f6f6f;
  min-height: 100vh;
  overflow: hidden;
}
.techTalks {
  background: linear-gradient(148deg, #00938a 9.18%, #00a098 90.83%);
  min-height: 100vh;
  overflow: hidden;
}
.memeService {
  background: #0083cc;
  min-height: 100vh;
  overflow: hidden;
}
.subText {
  font-family: "Circular Std", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  line-height: 100%;
  /* or 30px */
  margin-left: 30px;
  margin-right: 60px;
  width: 600px;
  letter-spacing: -0.015em;
  margin-top: 15px;
  opacity: 0.8;

  color: #ffffff;
}
.eventDetailPage .subText {
  font-size: 25px;
  max-width: 800px;
  width: unset;
}
.eventsFlow {
  font-family: Integral CF, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 80px;
  // line-height: 87%;
  /* identical to box height, or 70px */

  // letter-spacing: 0.02em;

  color: #05d4b8;

  width: 100%;
  // height: 40px;
  overflow: hidden !important;
  // display: flex;
}
.zOK {
  display: flex;
}
.faqStyle1,
.themestyle1,
.TRACKSStyle1 {
  opacity: 0.5;
}
.zOK span {
  padding: 0 20px;
}
.bEl {
  animation: AlL 15s linear infinite;
}
@keyframes AlL {
  0% {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}
.lookman {
  position: absolute;
  // height: 526px;
  width: 526px;
  right: 0px;
  bottom: 0px;
  z-index: 1;
}
.mike {
  position: absolute;
  // height: 526px;
  width: 250px;
  left: 0px;
  top: -100px;
  z-index: 1;
  // animation: MoveUpDown 2s linear infinite;
}
.mike2 {
  position: absolute;
  // height: 526px;
  width: 250px;
  left: 0px;
  top: -100px;
  z-index: 2;
}
.tagline {
  // right: 31.18%;
  margin-top: 60px;
  font-family: "Epilogue", "Circular Std", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 55px;
  line-height: 87%;
  /* or 70px */
  mix-blend-mode: soft-light;
  filter: saturate(150%);
  letter-spacing: -0.015em;
  position: relative;

  color: #ffffff;
}
.subhead {
  font-family: "Circular Std", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  margin: 20px 47.57% 0 0;
  // margin-right: 47.57%;
  font-weight: 300;
  font-size: 30px;
  line-height: 100%;
  /* or 30px */

  letter-spacing: -0.015em;

  color: rgba(255, 255, 255, 0.8);
}

.navbar {
  font-family: "Integral CF", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.5em;
  // line-height: 87%;
  /* or 26px */
  color: #ffffff;
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  // mix-blend-mode: overlay;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  background: rgba(255, 255, 255, 0.1);
  mix-blend-mode: normal;
  // backdrop-filter: blur(90px);
  height: 50px;
  z-index: 9;
  backdrop-filter: saturate(120%) blur(90px);
}
.navbar .item {
  margin: 12px 20px;
  mix-blend-mode: overlay;
  opacity: 0.9;
  // letter-spacing: 0.014em;
}
.button,
.buttonBell {
  padding: 15px 28px;
  // height: 70px;
  box-sizing: border-box;
  border-radius: 15px;
  font-family: "Circular Std", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 25px;
  // cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px 0 0 0;
  cursor: none;
  border: 2px solid transparent;
}

.buttons {
  // justify-content: space-between;

  align-items: center;
}

.button svg {
  transition: transform 0.3s cubic-bezier(2.175, 0.885, 0.32, 0.175);
}
.button:hover svg {
  transform: translate(4px, 0);
  transition: transform 0.3s cubic-bezier(2.175, 0.885, 0.32, 0.175);
}
.button:hover {
  // transform: translate(0, -4px);
  cursor: none !important;
}

.buttonBell svg {
  transition: transform 0.3s cubic-bezier(2.175, 0.885, 0.32, 0.175);
}
.buttonBell:hover svg {
  transform: rotate(20deg);
  transition: transform 0.3s cubic-bezier(2.175, 0.885, 0.32, 0.175);
}
.red {
  // background: #c83200;
  border: 2px solid transparent;
  // border: none;
  background: rgba(255, 255, 255, 0.2);
  color: #ffffff;

  opacity: 0.8;
}
.hollowButton {
  border: 1px solid #fff;
  background: transparent;
  color: #ffffff;

  opacity: 0.8;
}
.overflowHiddenX {
  overflow: hidden !important;
  max-width: 100%;
}
.ideathon {
  background: linear-gradient(139.41deg, #ebbe21 5.11%, #d67300 91.8%);
  // background-color: #000;
  min-height: 100vh;
  overflow: hidden;
  // margin-top: 50px;
  padding-left: 60px;
}
.whitebutYellow {
  background-color: white;
  color: #e19d12;
}
.whitebutRed {
  background-color: white;
  color: #bc4069;
}
.hackathonLogo {
  width: 80px;
}
.divCenter {
  display: block;
  margin: auto;
  text-align: center;
  left: 50%;
}
.card {
  margin: auto;
  background-color: white;
  border-radius: 15px;
  padding: 40px 70px;
  justify-content: space-between;
  margin-top: 40px;
}
.card .col {
  margin: auto 30px;
}
.eventDetailPage {
  // padding-top: 90px;
  padding: 90px 0px 120px 80px;
}
.bounceContainer {
  position: absolute;
  bottom: 0;
  margin-bottom: 20px;
}
.bounceArrow {
  justify-self: center;
  -webkit-animation: bounce 1s ease-in-out infinite;
  animation: bounce 1s ease-in-out infinite;
  position: relative;
  bottom: 100%;
  transition: opacity 0.75s;
}
.cardHead {
  font-family: "Integral CF", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 87%;
  letter-spacing: 0.025em;

  /* or 17px */
}
.yellowCardHead {
  color: #dc8a0a;
}
.yelloCardText {
  color: #861414;
}
.redCard {
  color: #cb2d63;
}
.gameCardHead {
  color: #bb3a5f;
}
.memeServiceHeadCard {
  color: #3483c6;
}
.techtalesCardHead {
  color: #6f6f6f;
}
.gameCardText {
  color: #303030;
}
.creativeCardHead {
  color: #821d7c;
}
.techtalksCardHead {
  color: #00938a;
}
.techtalksText {
  color: #3f3820;
}
.blockbusterCardHead {
  color: #ca572e;
}
// opacity: 0.9;

.cardText {
  margin: 10px 0 8px 0;
  font-family: "Circular Std", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 87%;
  /* or 26px */

  letter-spacing: -0.015em;
}
.closeModal {
  position: absolute;
  top: 80px;

  right: 80px;
}
// .eventNameContainer {
//   position: relative;
//   margin-bottom: 20px;
// }
.underlineEvent {
  position: absolute;
  display: none;
  bottom: -10px;
  left: 0;
  z-index: -1;
}
.sticker {
  position: absolute;
  top: -40px;
  left: -40px;
}
.relative {
  position: relative;
  // padding-bottom: 80px;
}
.floatingDate {
  position: absolute;
  // left: 34.38%;
  // right: 26.04%;
  // top: 2.78%;
  // bottom: 96.94%;
  top: -50px;
  // margin-left: auto;
  // margin-right: auto;
  // left: 0;
  left: 0;
  text-align: center;
  font-family: "Circular Std", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 100%;
  /* identical to box height, or 30px */
  // filter: blur(10px);
  letter-spacing: -0.015em;

  color: rgba(255, 255, 255, 0.8);
  transition: transform 175ms ease, opacity 175ms ease,
    -webkit-transform 175ms ease;
  display: flex;
  align-items: center;
  // mix-blend-mode: normal;
  // filter: saturate(150%);
}
.theme {
  border-radius: 20px;
  font-family: "Circular Std", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 40px;
  // margin: 40px;
  text-align: center;
  transition: transform 175ms ease, opacity 175ms ease;

  width: 250px;
}
.themeTopic {
  opacity: 1;
  margin-top: 10px;
  font-size: 25px;
}
.theme:hover {
  background: #525252;
  transition: transform 175ms ease, opacity 175ms ease;
}
.theme:hover .themeTopic {
  opacity: 1;
  transition: transform 175ms ease, opacity 175ms ease;
}
.theme img{
    transition: transform 175ms ease, opacity 175ms ease;

}
.theme:hover img {
  transition: transform 175ms ease, opacity 175ms ease;

  transform: translate(0, -10px);
}
.circle {
  height: 40px;
  width: 40px;
  border-radius: 50%;

  position: relative;
  left: 584px;
  top: 99px;

  background: linear-gradient(
    144.69deg,
    #f6bf4a 1.56%,
    #ec622d 35.7%,
    #dc395e 64.16%,
    #c04d95 92.61%
  );
}

.circle:before {
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
}
.circle-end {
  height: 40px;
  width: 40px;
  border-radius: 50%;

  position: relative;
  left: 585px;
  bottom: 0px;

  background: linear-gradient(
    144.69deg,
    #f6bf4a 1.56%,
    #ec622d 35.7%,
    #dc395e 64.16%,
    #c04d95 92.61%
  );
}
.circle-end:before {
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
}
.vl {
  border-left: 6px solid rgba(246, 191, 74, 0.32);
  height: 530px;
  width: 0px;
  position: relative;
  left: 600px;
  top: 100px;
  font-family: Circular Std;
  font-style: normal;
  font-weight: 900;
}

.timeline-holder {
  width: 200px;
  height: 80px;
  margin-bottom: 20px;
  border-radius: 20px;
  background: linear-gradient(
    144.69deg,
    #f6bf4a 1.56%,
    #ec622d 35.7%,
    #dc395e 64.16%,
    #c04d95 92.61%
  );
  font-size: 24px;
  filter: drop-shadow(0px 10px 4px rgba(0, 0, 0, 0.25));
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  right: 100px;
  top: 20px;
}
.date-holder {
  text-align: center;
}

.hack-info {
  font-family: Circular Std;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 100px;
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  top: 140px;
  float: right;
  margin-right: 400px;
}
.display-nav svg {
  position: absolute;
  right: 20px;
  top: 20px;
}
// .displayNavContainer {
//   padding: 1rem;
//   position: relative;
//   background: linear-gradient(to right, red, purple);
//   padding: 3px;
// }
// .display-nav:before {
//   padding: 1rem;
//   position: relative;
//   background: linear-gradient(to right, red, purple);
//   padding: 3px;
// }
.display-nav {
  // background: #fff;
  padding: 1.5rem;
  width: 400px;
  height: 600px;
  // background: rgba(255, 255, 255, 1);
  // backdrop-filter: blur(500px);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  // top: 0;
  // bottom: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  // margin-top: auto;
  // height: 90vh;
  // height: 80%;
  // padding: var(--siteMenuMargin);
  z-index: 99;
  // bottom: -10px;
  // left: 50%;
  // transform: translate(-50%, -50%);

  overflow: hidden ;
  box-shadow: 0 50px 100px -20px rgba(50,50,93,0.25),0 30px 60px -30px rgba(0,0,0,0.3);
   // mix-blend-mode: overlay;
   background: rgba(255, 255, 255, 0.2);
   mix-blend-mode: normal;
   z-index: 9;
   backdrop-filter: saturate(120%) blur(90px);
   color: #ffffff;
  //  display: block;
}

.display-nav svg path{
  fill: #ffffff !important;
}

.event-header {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 4px 0;
  // padding: 16px;
}

.event-header a {
  margin: 0 10px 0 10px;
  width: 100%;
  // justify-content: center;
  // align-items: center;
}
.event-header div{
  padding-left: 20px;
}
.event-header h2::after{
  transition: all 175ms ease, -webkit-all 175ms ease;
}
.event-header h2:hover::after{
  content: url("./assets/nav/arrow-right.svg");
  position: absolute;
  left: 0;
  margin-left: 20px;
  margin-top: 10px;
}
.event-header .flex {
  align-items: center;
}

.event-header img {
  display: flex;
  flex-direction: row;
  height: 40px;
  width: 40px;
  margin-right: 0px;
  margin-left: 0px;
}

.event-header h2 {
  font-family: "Circular Std", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 40px;
  letter-spacing: -0.015em;
  color: linear-gradient(180deg, #161e26 0%, #000509 100%);
}
.event-header h3 {
  font-family: "Circular Std", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 13px;
  letter-spacing: -0.015em;
  color: #ffffff;
  opacity: 0.9;
}

@media screen and (max-width: 1350px){
  .timeline{
    display: none;
  }
}

@media screen and (max-width: 980px) {
  .horzLine{
    display: block;
  }
  .gfgTitle{
    width: 200px ;
    margin-bottom: 10px;
  }
  .dividingLine svg {
  transform: rotate(90deg);
  margin: 0px 0 !important;
  height: 4px !important;
}
  
  .display-nav {
  // background: #fff;
  padding: 2rem;
  width: 95vw;
  height: 95vh;
  // background: rgba(255, 255, 255, 1);
  // backdrop-filter: blur(500px);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  // top: 0;
  // bottom: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  // margin-top: auto;
  // height: 90vh;
  // height: 80%;
  // padding: var(--siteMenuMargin);
  z-index: 99;
  // bottom: -10px;
  // left: 50%;
  // transform: translate(-50%, -50%);
  overflow-y: scroll;
}
  .purpleBox {
    width: 30vw;
    font-size: 0.8rem;
    padding: 10px;
    line-height: 110%;
  }
  .purpleBox:hover {
    width: 40vw;
  }
  .subText {
    width: 80% !important;
    margin: auto !important;
    text-align: center;
    font-size: 1.3em;
  }
  .eventDetailPage .subText {
    text-align: left;
    font-size: 1.3rem !important;
  }
  // .eventDetailPage .subText {
  //   font-size: 25px;
  //   max-width: 800px;
  //   // width: unset;
  //   padding: auto 60px !important;
  // }
  .themeTopic {
    opacity: 1 !important;
  }
  .active {
    cursor: pointer !important;
  }
  .detailCard {
    width: 90vw !important;
    height: unset !important;
    padding: auto auto 60px auto;
  }
  .detailText {
    margin-bottom: 30px;
  }

  .accordion {
    font-size: 1.4rem !important;
    width: 80vw !important;
  }
  .panel {
    padding: 20px;
    font-size: 1.2rem !important;
    width: 90vw !important;
  }
  .pd-30 a {
    margin: 0px 16px;
  }
  .aboutText {
    width: 80vw;
  }
  .wameBlock {
    flex-direction: column;
  }
  .row {
    flex-direction: column;
  }
  .sponsors {
    flex-direction: column;
  }
  .socialcardText {
    display: block;
    opacity: 1;
  }
  .twitter {
    background: #2aa9e0;
  }
  .youtube {
    // box-shadow: inset 20px 20px 60px #484848, inset -20px -20px 60px #626262;

    background: #ff0000;
  }
  .facebook {
    // box-shadow: inset 20px 20px 60px #484848, inset -20px -20px 60px #626262;

    background: #1977f3;
  }
  .instagram {
    background: radial-gradient(
      92.18% 99.11% at 26.56% 107.7%,
      #ffdd55 0%,
      #ffdd55 10%,
      #ff543e 50%,
      #c837ab 100%
    );
  }
  .socialCards {
    display: grid;
    // grid-gap: 50px 20px;
    // grid-row: auto auto;
    // grid-template-columns: 400px 400px;
    grid-template-columns: auto;

    grid-row: auto;
    grid-gap: 20px 20px;
    margin-bottom: 30px;
    // overflow: hidden !important;
  }
  a {
    cursor: pointer;
  }
  .socialCard {
    margin: auto auto;
    padding: 0 20px;
  }
  .page4 {
    overflow: hidden !important;
  }
  .massiveText {
    font-size: 6vw;
  }
  .emailCard,
  .discordCard {
    cursor: pointer;

    width: 90vw;
    margin-bottom: 60px;
  }
  .emailCard {
    background: linear-gradient(180deg, #0796c2 0%, #006c8e 100%);
  }
  .discordCard {
    background: linear-gradient(180deg, #7289da 0%, #4f66b6 100%);
  }
  .emailCard h1,
  .discordCard h1 {
    font-size: 30px;
  }
  .underlineEvent {
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
  }
  .growMobile {
    flex-grow: 1;
  }
  .closeModal {
    position: absolute;
    top: 15px;
    right: unset;
    left: 30px;
  }
  .closeModal svg {
    width: 80px;
  }
  .card {
    width: 90vw;
    flex-direction: column;
    padding: 30px 40px;
  }
  .eventDetailPage {
    padding-top: 120px !important;
  }
  .eventDetailPage .eventName {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .eventName {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .cardHead,
  .cardText {
    margin: 20px 0;
    font-size: 1.2rem;
  }
  .button,
  .buttonBell {
    cursor: pointer !important;
  }
  .button:hover {
    // transform: translate(0, -4px);
    cursor: pointer !important;
  }
  .remindmeArrow {
    width: 27px;
  }
  .buttons {
    flex-direction: column;
    margin: 20px 0;
    padding: 10px 0;
  }
  .eventNameTitle {
    width: 60vw;
  }

  .tagline {
    text-align: center !important;
    font-size: 2rem;
    // margin: 30px 0 0 0;
    // padding-left: 20px;
  }
  .apply-button {
    margin: 20px 0 !important;
  }
  .devfolio-button-iframe {
    margin: 20px 0 !important;
  }
  .floatingDate {
    top: -50px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    // transform: translate(-50%, -50%);
  }
  .subhead {
    text-align: center;
    margin: 10px 0 0 0;
    font-size: 1.2em;
  }
  .page1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    // padding-bottom: 0;
    margin-bottom: 0;
    padding: 100px 10px 100px 10px;
    padding: 30px 5vw 0 5vw !important;
    height: 100%;
  }
  .page2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    // padding-bottom: 0;
    margin-bottom: 0;
    padding: 100px 10px 100px 10px;
    // padding: 0 !important;
    height: 100%;
  }
  .page25 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    // padding-bottom: 0;
    margin-bottom: 0;
    padding: 100px 10px 100px 10px;
    // padding: 0 !important;
    height: 100%;
  }
  .lookman {
    position: relative;
    width: 50vw;
    justify-self: flex-end;
    // margin-top: auto;
    // align-self: flex-end;
    // bottom: 0;
    // left: 50%;
    // transform: translate(-50%, 0);
  }
  .button {
    width: 100%;
    font-size: 1.5rem;
    cursor: default !important;
  }
  .mike,
  .mike2 {
    width: 140px;
    top: -10px;
  }

  .mobileNavbar {
    display: block;
    position: fixed;
    right: 20px;
    top: 20px;
    background: #fff;
    border-radius: 20px;
    padding: 5px 16px;
    opacity: 1;
    mix-blend-mode: overlay;
    backdrop-filter: saturate(120%) blur(90px);
    z-index: 9;
    // padding: 0 32px;
    border-radius: 32px;
  }
  .movileNavbar {
    background-color: hsla(0, 0%, 100%, 0.4);
  }
  .navbar {
    display: none;
  }
  .relative {
    position: relative !important;
  }

  .ideathon,
  .gaming,
  .techTalks,
  .creative,
  .memeService,
  .scifi,
  .blockbuster {
    flex-direction: column;
    padding-top: 80px;
    padding-left: 0;
    text-align: center;
    position: relative;
    min-height: 90vh !important;
  }
  .hackathonLogo {
    width: 40px;
  }
  body {
    cursor: default !important;
  }
  .cursor {
    display: none !important;
  }
  .button,
  .buttonBell {
    font-size: 1rem;
    width: auto !important;
    cursor: default !important;
  }
  // .display-nav {
  //   display: block;
  // }
  .display-nav .row {
    flex-direction: row !important;
  }
}
@media screen and (max-width: 320px) {
  .event-header img {
  display: flex;
  flex-direction: row;
  height: 3s0px;
  width: 3s0px;
  margin-right: 0px;
  margin-left: 0px;
}

  .display-nav {
    width: 100vw;
    height: 100vh;
  }
  .event-header h2 {
    font-family: "Circular Std", -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 1rem;
    line-height: 40px;
    letter-spacing: -0.015em;
    color: linear-gradient(180deg, #161e26 0%, #000509 100%);
  }
  .event-header h3 {
    font-family: "Circular Std", -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 0.8rem;
    line-height: 13px;
    letter-spacing: -0.015em;

    color: #fff;
  }
}

@-webkit-keyframes slide {
  0% {
    transition: (-100px, 0);
  }

  100% {
    transition: (0px, 0);
  }
}

@keyframes slide {
  0% {
    transition: (-100px, 0);
  }
  100% {
    transition: (0px, 0);
  }
}

// #ex1 {
//   height: 100vh;
//   width: 100vw;
//   background: linear-gradient(139.41deg, #ebbe21 5.11%, #d67300 91.8%);
// }
.modal {
  max-width: 100vw !important;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10 !important;
  overflow: scroll;
  padding: 0;
  animation: all 2s ease-in-out;
}
.leftRotate {
  transform: rotate(-5deg);
}
.rightRotate {
  transform: rotate(5deg);
}
.detailCard {
  width: 479px;
  height: 400px;
  left: 0px;
  top: 0px;

  background: linear-gradient(180deg, #6289d8 0%, #315dec 100%);
  border-radius: 30px;
  margin: 40px 0px 30px 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
}
.detailCard svg {
  position: absolute;
  right: 0;
  bottom: 0;
}
.detailRed {
  background: linear-gradient(
    144.69deg,
    #f6bf4a 1.56%,
    #ec622d 35.7%,
    #dc395e 64.16%,
    #c04d95 92.61%
  );
}
.detailHead {
  font-family: "Integral CF", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 100%;
  /* identical to box height, or 30px */

  color: rgba(255, 255, 255, 0.6);
  padding: 30px 0 0 30px;
}
.detailText {
  font-family: "Circular Std", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 300;
  // font-size: 30px;
  line-height: 100%;
  /* or 30px */

  letter-spacing: -0.015em;

  color: #ffffff;
  margin-top: 20px;
  padding: 10px 30px;
  font-size: 25px;
}
.detailText .main {
  font-weight: 500;
  font-size: 25px;
}
.min100vh {
  min-height: 100vh;
  padding-top: 60px;
}
.detailText .sub {
  opacity: 0.7;
}
.accordion {
  color: #fff;
  background: #616161;
  border-radius: 30px;
  padding: 18px 30px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  transition: 0.4s;
  width: 70vw;
  cursor: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 80px;
  font-family: "Circular Std", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 100%;
  margin: 10px 0;
  padding: 20px 20px;
  /* or 30px */
  letter-spacing: -0.015em;
  color: rgba(255, 255, 255, 0.7);
}

// .active,
// .accordion:hover {
//   transition: all 175ms ease, -webkit-all 175ms ease;
//   // background-color: #ccc;
//   background: linear-gradient(
//     343.19deg,
//     #f6bf4a -4.41%,
//     #ec622d 20.24%,
//     #dc395e 62.41%,
//     #c04d95 92.78%
//   );

// }
  // .active {
  //   margin: 0px 0;

  //   // border-radius: 30px 30px 0 0;
  // }
 .greenAccordion .active ,.greenAccordion .accordion:hover{
   background: #439A93;
 }
  .blueAccordion .active ,.blueAccordion .accordion:hover{
   background: #3483C6;
 }
 .creativeAccordion .active ,.creativeAccordion .accordion:hover{
   background: #821D7C;
 }
   .blockbusterAccordion .active ,.blockbusterAccordion .accordion:hover{
   background: #BF4E26;
 }
.yellowAccordion .active,.yellowAccordion .accordion:hover{
     background: linear-gradient(139.41deg, #D38D34 5.11%, #d67300 91.8%);
   background: #D38D34;
 }
 .greyAccordion .active,.greyAccordion .accordion:hover
 {
   background: #6F6F6F;
 }
.redAccordion .active,.redAccordion .accordion:hover
 {
   background: #BB3557;
 }
.accordion:after {
  content: "\002B";
  font-size: 30px;
  color: #fff;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.panel {
  background-color: white;
  // background: linear-gradient(
  //   144.69deg,
  //   #f6bf4a 1.56%,
  //   #ec622d 35.7%,
  //   #dc395e 64.16%,
  //   #c04d95 92.61%
  // );
  background-color: #303030;
  width: 70vw;

  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  font-family: "Circular Std", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 25px;
  line-height: 100%;
  margin-bottom: 20px;
  border-radius: 0 0 30px 30px;
  padding: 0px 40px;

  /* or 30px */

  color: rgba(255, 255, 255, 0.7);
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@font-face {
  font-family: "Integral CF";
  src: url("fonts/IntegralCF-ExtraBold.woff2") format("woff2"),
    url("fonts/IntegralCF-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Integral CF";
  src: url("fonts/IntegralCF-Medium.woff2") format("woff2"),
    url("fonts/IntegralCF-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Circular Std";
  src: url("fonts/CircularStd-Bold.woff2") format("woff2"),
    url("fonts/CircularStd-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Circular Std";
  src: url("fonts/CircularStd-Medium.woff2") format("woff2"),
    url("fonts/CircularStd-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Circular Std";
  src: url("fonts/CircularStd-Book.woff2") format("woff2"),
    url("fonts/CircularStd-Book.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

body {
  cursor: none;
}
.cursor {
  pointer-events: none;
  // position: fixed !important;
}
body .cursor__ball {
  position: fixed !important;
  top: 0;
  left: 0;
  mix-blend-mode: difference;
  z-index: 1000 !important;
}
body .cursor__ball circle {
  fill: #f7f8fa;
  position: fixed !important;
}

.swipe {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: translate(-100%, 0);
}

.swipe1 {
  background: linear-gradient(180deg, #cb4580 0%, #cb1e52 100%);

  z-index: 17;
}
.swipe2 {
  background: linear-gradient(139.41deg, #ebbe21 5.11%, #d67300 91.8%);
  z-index: 16;
}
.swipe3 {
  background: linear-gradient(148deg, #00938a 9.18%, #00a098 90.83%);
  z-index: 15;
}

@-webkit-keyframes bounce {
  0%,
  100% {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  50% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes bounce {
  0%,
  100% {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  50% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

// .purpleBox {
//   width: 240px;
//   margin: 150px auto 0;
//   text-align: center;
//   padding: 10px 0;
//   cursor: pointer;
//   position: relative;
// }
// .purpleBox span {
//   color: #333;
//   font-size: 0.9em;
// }
@keyframes bang {
  from {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
.purpleBox i {
  position: absolute;
  display: block;
  right: 50%;
  top: 0;
  width: 4px;
  height: 6px;
  background: red;
  opacity: 0;
}
.purpleBox:hover i:nth-of-type(1) {
  transform: translate3d(67px, -95px, 0) rotate(218deg);
  background: #00ff55;
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.purpleBox:hover i:nth-of-type(2) {
  transform: translate3d(-88px, -70px, 0) rotate(44deg);
  background: #bb00ff;
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.purpleBox:hover i:nth-of-type(3) {
  transform: translate3d(24px, -66px, 0) rotate(43deg);
  background: #48ff00;
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.purpleBox:hover i:nth-of-type(4) {
  transform: translate3d(-52px, -87px, 0) rotate(154deg);
  background: #00ffbb;
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.purpleBox:hover i:nth-of-type(5) {
  transform: translate3d(-79px, -77px, 0) rotate(59deg);
  background: #a2ff00;
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.purpleBox:hover i:nth-of-type(6) {
  transform: translate3d(-83px, -65px, 0) rotate(298deg);
  background: #95ff00;
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.purpleBox:hover i:nth-of-type(7) {
  transform: translate3d(49px, -77px, 0) rotate(132deg);
  background: #b300ff;
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.purpleBox:hover i:nth-of-type(8) {
  transform: translate3d(3px, -51px, 0) rotate(185deg);
  background: #00ff4d;
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.purpleBox:hover i:nth-of-type(9) {
  transform: translate3d(76px, -88px, 0) rotate(179deg);
  background: #ff00f2;
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.purpleBox:hover i:nth-of-type(10) {
  transform: translate3d(40px, -89px, 0) rotate(103deg);
  background: #ff3300;
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.purpleBox:hover i:nth-of-type(11) {
  transform: translate3d(-24px, -85px, 0) rotate(229deg);
  background: #62ff00;
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.purpleBox:hover i:nth-of-type(12) {
  transform: translate3d(-85px, -79px, 0) rotate(173deg);
  background: #00ffd9;
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.purpleBox:hover i:nth-of-type(13) {
  transform: translate3d(10px, -82px, 0) rotate(94deg);
  background: #0077ff;
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.purpleBox:hover i:nth-of-type(14) {
  transform: translate3d(51px, -82px, 0) rotate(75deg);
  background: #ff0009;
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.purpleBox:hover i:nth-of-type(15) {
  transform: translate3d(-56px, -97px, 0) rotate(318deg);
  background: #00a6ff;
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.purpleBox:hover i:nth-of-type(16) {
  transform: translate3d(-12px, -99px, 0) rotate(138deg);
  background: #00e1ff;
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.purpleBox:hover i:nth-of-type(17) {
  transform: translate3d(72px, -98px, 0) rotate(192deg);
  background: #00ff2f;
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.purpleBox:hover i:nth-of-type(18) {
  transform: translate3d(87px, -82px, 0) rotate(225deg);
  background: #ff2200;
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.purpleBox:hover i:nth-of-type(19) {
  transform: translate3d(-90px, -74px, 0) rotate(252deg);
  background: #ff00c8;
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.purpleBox:hover i:nth-of-type(20) {
  transform: translate3d(68px, -97px, 0) rotate(215deg);
  background: #62ff00;
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.purpleBox:hover i:nth-of-type(21) {
  transform: translate3d(-44px, -80px, 0) rotate(225deg);
  background: darkorange;
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.purpleBox:hover i:nth-of-type(22) {
  transform: translate3d(55px, -83px, 0) rotate(92deg);
  background: aqua;
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.purpleBox:hover i:nth-of-type(23) {
  transform: translate3d(32px, -60px, 0) rotate(278deg);
  background: #00eaff;
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.purpleBox:hover i:nth-of-type(24) {
  transform: translate3d(32px, -61px, 0) rotate(173deg);
  background: #0095ff;
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.purpleBox:hover i:nth-of-type(25) {
  transform: translate3d(82px, -71px, 0) rotate(210deg);
  background: #ff1500;
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.purpleBox:hover i:nth-of-type(26) {
  transform: translate3d(13px, -74px, 0) rotate(198deg);
  background: #00ff37;
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.purpleBox:hover i:nth-of-type(27) {
  transform: translate3d(76px, -84px, 0) rotate(55deg);
  background: #c8ff00;
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.purpleBox:hover i:nth-of-type(28) {
  transform: translate3d(-53px, -68px, 0) rotate(71deg);
  background: #6f00ff;
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.purpleBox:hover i:nth-of-type(29) {
  transform: translate3d(-47px, -85px, 0) rotate(125deg);
  background: #ff002f;
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.purpleBox:hover i:nth-of-type(30) {
  transform: translate3d(51px, -68px, 0) rotate(281deg);
  background: #44ff00;
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.purpleBox:hover i:nth-of-type(31) {
  transform: translate3d(-1px, -54px, 0) rotate(84deg);
  background: #66ff00;
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.purpleBox:hover i:nth-of-type(32) {
  transform: translate3d(-15px, -95px, 0) rotate(31deg);
  background: #0004ff;
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.purpleBox:hover i:nth-of-type(33) {
  transform: translate3d(-53px, -83px, 0) rotate(346deg);
  background: #6200ff;
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.purpleBox:hover i:nth-of-type(34) {
  transform: translate3d(11px, -88px, 0) rotate(288deg);
  background: #ff002f;
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.purpleBox:hover i:nth-of-type(35) {
  transform: translate3d(-14px, -83px, 0) rotate(102deg);
  background: #0073ff;
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.purpleBox:hover i:nth-of-type(36) {
  transform: translate3d(29px, -66px, 0) rotate(199deg);
  background: #7300ff;
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.purpleBox:hover i:nth-of-type(37) {
  transform: translate3d(-47px, -63px, 0) rotate(117deg);
  background: #00ff2b;
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.purpleBox:hover i:nth-of-type(38) {
  transform: translate3d(55px, -79px, 0) rotate(180deg);
  background: #0022ff;
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.purpleBox:hover i:nth-of-type(39) {
  transform: translate3d(86px, -79px, 0) rotate(78deg);
  background: #ff00d9;
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.purpleBox:hover i:nth-of-type(40) {
  transform: translate3d(15px, -51px, 0) rotate(100deg);
  background: #33ff00;
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.purpleBox:hover i:nth-of-type(41) {
  transform: translate3d(76px, -85px, 0) rotate(26deg);
  background: #ff007b;
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.purpleBox:hover i:nth-of-type(42) {
  transform: translate3d(55px, -67px, 0) rotate(64deg);
  background: #2b00ff;
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.purpleBox:hover i:nth-of-type(43) {
  transform: translate3d(-7px, -62px, 0) rotate(89deg);
  background: #fff200;
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.purpleBox:hover i:nth-of-type(44) {
  transform: translate3d(49px, -78px, 0) rotate(141deg);
  background: #ff1e00;
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.purpleBox:hover i:nth-of-type(45) {
  transform: translate3d(-54px, -83px, 0) rotate(135deg);
  background: #00ffa2;
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.purpleBox:hover i:nth-of-type(46) {
  transform: translate3d(74px, -77px, 0) rotate(197deg);
  background: #ff5100;
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.purpleBox:hover i:nth-of-type(47) {
  transform: translate3d(90px, -91px, 0) rotate(195deg);
  background: #00ff5e;
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.purpleBox:hover i:nth-of-type(48) {
  transform: translate3d(-56px, -83px, 0) rotate(337deg);
  background: #00ff95;
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.purpleBox:hover i:nth-of-type(49) {
  transform: translate3d(69px, -60px, 0) rotate(320deg);
  background: #00fff2;
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.purpleBox:hover i:nth-of-type(50) {
  transform: translate3d(82px, -81px, 0) rotate(115deg);
  background: #0073ff;
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
